
<!-- <div class="row center" style="margin: 5em 0" id="kb-banner">
	<a href="https://www.mageplaza.com/promo/vietnam-independence-day-2017/" target="_blank"><img data-original="https://i.imgur.com/RHz4eSV.png" class="responsive-img lazy hoverable"></a>
</div>
 -->

<div class="row" style="margin-top: 2em;">
	<a class="waves-effect waves-light btn-large orange lighten-2 featured-button col s5" href="https://www.mageplaza.com/magento-2-one-step-checkout-extension/" target="_blank">One Step Checkout</a>
	<a class="waves-effect waves-light btn-large featured-button blue col s5 offset-s1" href="https://www.mageplaza.com/magento-2-layered-navigation-extension/" target="_blank">Layered Navigation</a>

	<a class="waves-effect waves-light btn-large featured-button pink lighten-3 col s5" href="https://www.mageplaza.com/magento-2-shop-by-brand/" target="_blank">Shop By Brand</a>
	<a class="waves-effect waves-light btn-large featured-button green col s5 offset-s1" href="https://www.mageplaza.com/magento-2-seo-extension/" target="_blank">SEO Ultimate</a>

</div>


<style type="text/css">
/* 23/5/2017 added style.css*/
	.featured-button{
		margin-bottom: 5px
	}
</style>


<!-- <div class="row" style="margin: 5em 0" id="kb-banner">
	<a href="#" target="_blank"><img data-original="https://i.imgur.com/Xxkfwlb.png" class="responsive-img lazy hoverable" src="https://i.imgur.com/Xxkfwlb.png"></a>
</div>
 -->
