<!-- OSC M2 -->
<div class="section no-pad-bot bgm-green" style="padding-bottom: 2em;">
	<a target="_blank" href="https://www.mageplaza.com/magento-2-one-step-checkout-extension/?utm_source=kb&utm_medium=banner&utm_campaign=m2-one-step-checkout"><h2 class="header center white-text">How to boost X2 online sales?</h2></a>
	<div class="row center">
		<a class="waves-effect waves-light btn btn-info" target="_blank" href="https://www.mageplaza.com/magento-2-one-step-checkout-extension/?utm_source=kb&utm_medium=banner&utm_campaign=m2-one-step-checkout" >Explore now</a>
	</div>
</div>