<!-- <h4 class="light header">You may also like:</h4>
<ul>
	<li><a href="https://www.mageplaza.com/magento-2-one-step-checkout-extension/?utm_source=docs&utm_medium=link&utm_campaign=docs">Simplify the checkout process and 2x sales</a></li>
	<li><a href="https://www.mageplaza.com/magento-2-layered-navigation-extension/?utm_source=docs&utm_medium=link&utm_campaign=docs">Get stuck in the insufficient navigation?</a></li>
	<li><a href="https://www.mageplaza.com/magento-2-seo-extension/?utm_source=docs&utm_medium=link&utm_campaign=docs">Take the best SEO practice with minimum cost</a></li>
</ul> -->