<div class="parallax-container" id="landingpage-support" style="height:300px;">

  <div class="parallax"><img class="lazy" data-original="{{ site.url }}/skin/frontend/mageplaza/default/img/help2.jpg" alt="Magento support"></div>
  
  <div class="container" >

      <h2 class="header  white-text">Have questions? Let’s talk!</h2>
      <div class="row ">
          <a class="waves-effect waves-light btn" onclick="openLiveChat();"><i class="material-icons left">cloud</i>Chat with Real human</a>
      </div>

      <h2 class="header  white-text">Documentation</h2>
      <div class="row">
          <a class="waves-effect waves-light btn" href="https://www.mageplaza.com/install-magento-2-extension/" target="_blank"><i class="material-icons left">settings_applications</i> Installation Guide</a> <br>
      </div>

       {% if(page.has_user_guide) %}
       <div class="row">
          <a class="waves-effect waves-light btn" href="{{ page.user_guide }}" target="_blank"><i class="material-icons left">library_books</i>  User Guide</a>
        </div>
        {% endif %}


  </div>

</div>

