<!-- <script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "SaleEvent",
  "name": "Black Friday: 30% OFF One Step Checkout",
  "startDate" : "2016-11-23",
  "endDate" : "2016-11-30",
  "url": "https://www.mageplaza.com/magento-2-one-step-checkout-extension/?utm_source=google&utm_medium=event&utm_campaign=schema",
  "description": "Magento 2 One Step Checkout extension by Mageplaza helps reduce the abandonment rate as well as increase the conversion rate dramatic",
  "location": {
    "@type": "Place",
    "name": "Magestore",
    "sameAs": "https://www.mageplaza.com/",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "7095 Hollywood Blvd",
      "addressLocality": "Hollywood",
      "addressRegion": "California",
      "postalCode": "90028",
      "addressCountry": "United States"
    }
  },
  "offers": {
    "@type": "Offer",
    "description": "Black Friday: 30% OFF One Step Checkout",
    "url": "https://www.mageplaza.com/magento-2-one-step-checkout-extension/?utm_source=google&utm_medium=event&utm_campaign=schema"
  }
}
</script> -->