<footer class="page-footer">
    <div class="container">
      <div class="row light">

        <div class="col l3 s12">

          <img src="{{ site.url }}/skin/frontend/mageplaza/default/img/logo-white.png" alt="mageplaza logo" class="footer-logo">
          <img src="{{ site.url }}/skin/frontend/mageplaza/default/img/payments.png" alt="payment" class="footer-img">
          <img src="{{ site.url }}/skin/frontend/mageplaza/default/img/badge/badge-cert-developer.png" alt="badget" >
          <img src="{{ site.url }}/skin/frontend/mageplaza/default/img/badge/badge-cert-dev-plus.png" alt="badget" >
          <img src="{{ site.url }}/skin/frontend/mageplaza/default/img/badge/badge-cert-frontend.png" alt="badget" >

        </div>

        <div class="col l3 s12">

        <h5 class="white-text">Company</h5>
        <ul>
          <li><a rel="nofollow" class="white-text" href="{{ site.url }}/about-us.html" >About Us</a></li>
          <li><a rel="nofollow" class="white-text" href="{{ site.url }}/customer-says.html" >Customer Says</a></li>
          <li><a rel="nofollow" class="white-text" href="{{ site.url }}/partner-program.html" >Partner Program</a></li>
          <!-- <li><a rel="nofollow" class="white-text" href="{{ site.url }}/discount-program.html" >Discount Programs</a></li> -->
          <li><a rel="nofollow" class="white-text" href="https://store.mageplaza.com/affiliate/" >Affiliate Program</a></li>
          <li><a rel="nofollow" class="white-text" href="{{ site.url }}/privacy.html" title="Privacy">Privacy Policy</a></li>
          <li><a rel="nofollow" class="white-text" href="{{ site.url }}/tos.html" title="Terms and Conditions">Terms & Conditions</a></li>

        </ul>


        </div>

        <div class="col l3 s12">

          <h5 class="white-text">Support</h5>
          <ul>
            <li><a rel="nofollow" class="white-text" href="{{ site.url }}/contact.html" >Contact us</a></li>
            <li><a rel="nofollow" class="white-text" href="{{ site.url }}/faqs/" >FAQs</a></li>
            <li><a rel="nofollow" class="white-text" href="https://mageplaza.freshdesk.com/" target="_blank" >Support Tickets</a></li>
            <!-- <li><a rel="nofollow" class="white-text" href="https://mageplaza.freshdesk.com/support/discussions" target="_blank" >Magento Forums</a></li> -->
            <li><a  class="white-text" href="{{ site.url }}/kb/magento-2-tutorial/" title="Magento 2 Tutorial">Magento 2 Tutorial</a></li>
            <li><a  class="white-text" href="{{ site.url }}/download-magento/" title="Magento 2 Tutorial">Download Magento 2</a></li>
            <li><a  class="white-text" href="{{ site.url }}/magento-2-module-development/" title="Create hello world module">Magento 2 Development Guide</a></li>

          </ul>


        </div>

        <div class="col l3 s12">
          <form id="subscribe-form">
            <h5 class="white-text">Subscribe Newsletter</h5>
            <p class="white-text">
              
            </p>
            <div class="input-field white-text">
              <i class="material-icons prefix">email</i>
              <input id="subcribe_email" type="email" class="validate" name="subcribe_email">
              <label for="subcribe_email">Enter Email</label>
            </div>
          </form>

          <div class="row social-icons">
              <a rel="nofollow" target="_blank" href="https://www.facebook.com/mageplaza/" data-position="top" data-delay="50" data-tooltip="Like us on Facebook" class="white-text text-lighten-1 tooltipped" ><i class="fa fa-facebook"></i></a>
              <a rel="nofollow" target="_blank" href="https://twitter.com/mageplaza" data-position="top" data-delay="50" data-tooltip="Follow us on Twitter" class="white-text text-lighten-1 tooltipped" ><i class="fa fa-twitter"></i></a>
              <!-- <a href="#!" data-position="top" data-delay="50" data-tooltip="Follow us on Google Plus" class="white-text text-lighten-1 tooltipped" ><i class="fa fa-google-plus"></i></a>
              <a href="#!" data-position="top" data-delay="50" data-tooltip="Subscribe on Youtube" class="white-text text-lighten-1 tooltipped" ><i class="fa fa-youtube"></i></a> -->
          </div>


        </div>



       

      </div>
    </div>
    <!-- End first row -->


    <!-- Start second row -->
    <!-- <div id="second-footer-middle">
      <div class="container">

      <div class="divider"></div>

        <div class="row">
          <div class="col s12 m3">

              <h5 class="white-text" href="{{ site.url }}/magento-2-extensions/" title="Magento 2 Extension">Magento Extensions</h5>
                <ul>
                  


                </ul>

                   
            </div>

            <div class="col s12 m3">

                <h5 class="white-text" href="{{ site.url }}/magento-2-extensions/" title="Magento 2 Extension">Useful Links</h5>
                <ul>
                  
                </ul>

                   
            </div>

        </div>
        
      </div>
      
    </div> -->
    <!-- end second footer row -->


<div class="footer-copyright">

  <div class="container">
    <div class="row light">
    
      <div class="col s12 m6">
          <p class="copyrigh-info white-text">
            © Copyright {{ site.time | date:"%Y" }} by Mageplaza. All Rights Reserved.
          </p>
      </div>
      <div class="col s12 m6 grey-text">
          <a href="{{ site.url }}/magento-2-one-step-checkout-extension/" title="Magento 2 one step checkout">One Step Checkout</a> / 
          <a href="{{ site.url }}/magento-2-layered-navigation-extension/" title="Magento 2 Layered Navigation Extension">Layered Navigation</a> / 
          <a href="{{ site.url }}/magento-2-affiliate-extension/" title="Magento 2 Affiliate extension">Affiliate</a> / 
          <a href="{{ site.url }}/magento-2-seo-extension/" title="Magento 2 SEO extension">SEO</a> / 
          <a href="{{ site.url }}/magento-2-social-login-extension/" title="Magento 2 Social Login">Social Login</a> / 
          <!-- <a href="{{ site.url }}/magento-2-blog-extension/" title="Magento 2 blog extension">Blog</a> /  -->
          <a href="{{ site.url }}/magento-2-gift-card-extension/" title="Magento 2 Gift Card, Certificates">Gift Card</a> / 
          <a href="{{ site.url }}/magento-2-reward-points-extension/" title="Magento 2 Reward Points">Reward Points</a> / 
          <!-- <a href="{{ site.url }}/magento-2-mega-menu-extension/" title="Magento 2 Mega Menu">Mega Menu</a> /  -->
          <!-- <a href="{{ site.url }}/magento-2-banner-slider-extension/" title="Magento 2 Banner Slider">Banner Slider</a> /  -->
          <!-- <a href="{{ site.url }}/magento-2-search-extension/" title="Magento 2 Search Extension">Search</a> /  -->
          <!-- <a href="{{ site.url }}/magento-2-store-credit-extension/" title="Magento 2 Store Credit Extension">Store Credit</a> / -->
          <a href="{{ site.url }}/magento-2-store-locator-extension/" title="Magento 2 Store Locator">Store Locator</a> /
          <!-- <a href="{{ site.url }}/magento-2-faq/" title="Magento 2 FAQ">FAQ</a> / -->
          <a href="{{ site.url }}/kb/magento-2-tutorial/">User Guide</a> /
          <a href="{{ site.url }}/magento-2-smtp/">SMTP</a> /
          <a href="{{ site.url }}/magento-2-automatic-related-products/">Related Products</a> 
          <!-- <a href="{{ site.url }}/blog/best-magento-extensions.html" title="best magento 2 modules">Magento 2 Extensions</a>    -->
      </div>
      

    </div>
    </div>
  </div>
  <!-- end footer copyright -->

</footer>
<script src="{{ site.url }}/skin/frontend/mageplaza/default/js/combine-footer.js"></script>

{% include footer_script.html %}