{% if(page.layout == 'm2e' or page.layout == 'm2plugin' or page.layout contains 'landingpage' or page.layout == 'home' or page.layout contains 'landing') %}



<!-- Intercom -->
<script>
var intercomAppId = "u6gjw726";
  window.intercomSettings = {
    app_id: intercomAppId
    {% if(page.sku) %}
    ,
    mage_product: "{{ page.sku }}"
    {% endif %}
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/u6gjw726';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<script type="text/javascript">

	// var dataLayer  = window.dataLayer || [];
	
	// Verifies and cleans all GTM variables
	// https://gist.github.com/edkellena/ec3ef32d7fe71fab5536
	function pushGTMVariablesToIntercom(gtmKey, gtmValue) {
		if("{{User - Account - Type}}" != "Guest"){
			if(gtmValue != null && gtmValue != "" && gtmValue != "undefined") {
				if(typeof gtmValue == "string") {
					gtmValue = gtmValue.trim();
					if(gtmValue == "") {
						return false;
					}
				}
				intercomSettings[gtmKey] = gtmValue;
				return true;
			}
			return false;
		}
		return false;
	}

	function openLiveChat(){
		Intercom('showNewMessage', 'Hi there');
		// ga('send', 'event', 'Intercom', 'Open Livechat', 'Visitor open Livechat');
		// dataLayer.push({
		// 	'eventCategory': 'Intercom',
		// 	'event': 'Open Livechat',
		// 	'eventLabel': 'Visitor open Livechat',
		// 	'eventValue': '1',
		// });
	}

	function updateVisitor(){
		var visitor_email = jQuery('#requester_email').val();

		Intercom('boot', {
		    app_id: intercomAppId,  
		    email: visitor_email
		    {% if(page.sku) %}
		    ,
		    interested_in: "{{ page.sku }}"
		    {% endif %}
		});
	}

	function requestDemo(){
		updateVisitor();
		Intercom('showNewMessage', 'Hi there, I have questions about this extension. 😃');
	}

	// Intercom('onShow', function() { 
	// 	ga('send', 'event', 'Intercom', 'Show', 'Show Message');
	// });

	// Intercom('onHide', function() { 
	// 	ga('send', 'event', 'Intercom', 'Hide', 'Hide chat box');
	// });

	// Intercom('onUnreadCountChange', function(unreadCount) {
	//   ga('send', 'event', 'Intercom', 'Read', 'Read Notification');
	// });

</script>

{% endif %}
