<!--start container-->
<div class="container" id="feature-comparisions">
    <div class="divider"></div>
    <!--floatThead-->
    <div id="floatThead" class="section">
        <div class="row">
            <div class="col s12">
                <h2 class="header">Features comparision</h2>
                <table class="striped feature-comparision">
                    <thead>
                        <tr>
                            <th data-field="features">Features</th>
                            <th data-field="ultimate">Ultimate package</th>
                            <th data-field="premium">Premium package</th>
                            <th data-field="basic">Basic package</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Multiple Programs, Tiers</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Rule based system</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Customizable Affiliate links</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Discount purchases</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Unlimited Affiliates & Groups</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Schedule affiliate program</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Refund comissions</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Lifetime Commissions</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Getting Started and FAQ page</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Complete affiliate materials</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Referral by links, banners, code or emails</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Refer by coupon code (custom coupon code)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Hide affiliate links</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Send emails invitations to friends</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Sharing on social media with 250+ social buttons</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Embed widget on affiliate websites</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Reward affiliates if reach a milestone</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Report performance</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Real-time tracking</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Multiple payment methods</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Recurring payments</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Custom design fit with your theme easily</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>API</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Import export</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Login as Affiliate</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Store credit</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Pay Per Lead</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Pay Per Click</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Pay Per Mile</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                        </tr>
                 <!--        <tr>
                            <td>aaaaaaaaaa</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
 -->
                    </tbody>
                </table>
                <script type="text/javascript">
                $('table.feature-comparision').floatThead({
                    position: 'fixed',
                    scrollingTop: 0
                });

                $('table.feature-comparision thead').css('background', '#ECEFF1');
                </script>
            </div>
        </div>
    </div>
</div>
<!-- end comparision -->