<div class="col s12 m3 l3">

	{% if(page.has_demo) %}
	<div class="row">
		<div class="col s12">
			<a class="waves-effect waves-light btn full-width-button light-blue darken-2 modal-trigger" href="#demo-modal"><i class="material-icons left">visibility</i>Demo</a>
		</div>
	</div>
	{% endif %}

	{% if(page.has_user_guide) %}
	<div class="row">
		<div class="col s12 ">
			<a class="waves-effect waves-light btn full-width-button light-blue darken-2 modal-trigger" href="#user-guide"><i class="material-icons left">description</i>User Guide</a>
		</div>
	</div>
	{% endif %}

	{% if(page.screenshots) %}
	<div class="row">
		<div class="col s12 ">
			<a class="waves-effect waves-light btn full-width-button light-blue darken-2 darken-1" href="#screenshots"><i class="material-icons left">perm_media</i>Screenshots</a>
		</div>
	</div>
	{% endif %}

	{% if(page.contribute_github) %}
	<div class="row">
		<div class="col s12 ">
			<a class="waves-effect waves-light btn full-width-button blue-grey lighten-3" href="{{ page.contribute_github }}" target="_blank"><i class="material-icons left">code</i>Contribute on Github</a>
		</div>
	</div>
	{% endif %}



	{% if(page.marketplace) %}
	<div class="row">
		<div class="col s12 ">
			<a class="waves-effect waves-light btn full-width-button blue lighten-1" href="{{ page.marketplace }}" target="_blank"><i class="material-icons left">shopping_basket</i>On Marketplace</a>
		</div>
	</div>
	{% endif %}



	<div class="divider"></div>

	<div class="row">
		<p class="center-align">
		{% if page.special_price %}
			<span class="price special-price">${{ page.special_price }}</span> 
			(<span class="old-price">${{ page.price }}</span>)
			
		{% else %}
			<span class="price">{% if page.price == 0 %}FREE{% else %} ${{ page.price }}{% endif %}</span>
		{% endif %}
		</p>
	</div>


	
	{% if(page.download) %}
	<div class="row">
		<a class="waves-effect waves-light btn btn-large full-width-button green" href="{{ page.download }}" target="_blank"><i class="material-icons left">play_for_workx</i>Download now</a>
	</div>
	{% endif %}

	<div class="row">
	{% if(page.out_of_stock) %}

	<a class="waves-effect waves-light btn btn-large full-width-button green modal-trigger" href="#notify-me-modal"><i class="material-icons left">shopping_cart</i>Buy</a>

	  <div id="notify-me-modal" class="modal">
	    <div class="modal-content">

	      <h4>This extension is coming soon</h4>
	      <form id="notifyme-form" _lpchecked="1">
			
			<div class="input-field">
				<!-- <i class="material-icons prefix active">email</i> -->
				<input id="widget-subscribe-form-email" type="email" class="validate" name="widget-subscribe-form-email">
				<label for="widget-subscribe-form-email">Enter Email</label>
				<p class="error" id="notify-error-msg" style="color: red;"></p>
				<p>We will notify you when this extension release</p>
				<input type="hidden" name="widget-subscribe-form-campaign" value="notifyme">
				<input type="hidden" name="widget-subscribe-form-action" value="notifyme">
				<input type="hidden" name="widget-subscribe-form-extension" value="{{ page.sku }}">
			</div>

			<div class="input-field white-text">
				<input  type="submit"  name="submit" class="btn btn-warning" value="Notify me">
			</div>

		</form>

	    </div>
	    <div class="modal-footer">
	      <a href="#close" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
	  </div>
	          


		

	{% else %}
		<a class="waves-effect waves-light btn btn-large full-width-button green modal-trigger" href="#add-to-cart"><i class="material-icons left">shopping_cart</i>Add To Cart</a>
	{% endif %}
	</div>
 <!-- End add to cart -->


    {% include policy.html %}
    {% if(page.out_of_stock == false) %}
    <div class="row">
    	<p><b>Compatible with</b>: CE 2.0.x - 2.1.x</p>
    </div>
    {% endif %}
</div>





<div id="add-to-cart" class="modal bottom-sheet">
		    <div class="modal-content">
		    	<div class="col s12">
		    		<div class="col s12 m10 l6 offset-m2 offset-l3">

			    		{% if(page.out_of_stock) %}
							

						{% else %}

							<form action="https://store.mageplaza.com/securecheckout/index/add" id="checkout-form">
				    			<div class="col s12 m6">

						        <input type="hidden" name="sku" value="{{ page.sku }}" />

				    			<h5>Magento Edition</h5>
								    <p>
								      <input name="ce" type="radio" id="ce" checked="checked" value="1" />
								      <label for="ce">Community</label>
								    </p>
								    {% if(page.ee_plus) %}
								    <p>
								      <input name="ce" type="radio" id="ee" value="0" />
								      <label for="ee">Enterprise (+ ${{ page.ee_plus }})</label>
								    </p>
								    {% endif %}

									<p>
								      <input type="checkbox" class="filled-in" id="installation" name="installation" value="pro-installation" />
								      <label for="installation">Installation Service +$50</label>
								    </p>


				    			</div>

				    			<div class="col s12 m6">
								    <div id="cart-total">
								    	<h3 class="header">Total: </h3>
								    	<h3 id="grand-total">
								    		${{ page.price }}
								    	</h3>
								    </div>

								    <p>
								      <input type="number" class="filled-in col s2" id="item-qty" name="qty" value="1" />
								      <label for="item-qty" class="col s6">Qty</label>
								    </p>

				    			</div>

				    			<div class="row">
				    				<div class="col s12 m6 offset-m6">
				    					<input type="submit" name="submit" class="waves-effect waves-green btn-large green left" value="Checkout now">
				    				</div>

				    				<br><br><br><br><br>
				    			</div>
				    			<input type="hidden" name="mprc" id="mprc" value="default">

							</form>

						{% endif %}

		    		</div>
		    	</div>
			        
		    </div>
		
		  </div>



<div id="demo-modal" class="modal">
	<div class="modal-content">
	  <h4>Live Demo</h4>
	  {% if(page.demo-frontend) %}
	  <p><a rel="nofollow" target="_blank" class="waves-effect waves-light btn" href="{{ page.demo-frontend }}"><i class="material-icons left">cloud</i>Frontend</a></p>
	  {% endif %}
	  {% if(page.demo-backend) %}
	  <p><a rel="nofollow" target="_blank" class="waves-effect waves-light btn" href="{{ page.demo-backend }}"><i class="material-icons left">cloud</i>Backend</a></p>
	  {% endif %}
	  

{% comment %}
	  <h4>Sandbox</h4>
	  {% if(page.sandbox-frontend) %}
	  <p><a rel="nofollow" target="_blank" class="waves-effect waves-light btn" href="{{ page.sandbox-frontend }}"><i class="material-icons left">cloud</i>Frontend</a></p>
	  {% endif %}
	  {% if(page.sandbox-backend) %}
	  <p><a rel="nofollow" target="_blank" class="waves-effect waves-light btn" href="{{ page.sandbox-backend }}"><i class="material-icons left">cloud</i>Backend</a></p>
	  {% endif %}
{% endcomment %}

	</div>
	<div class="modal-footer">
	  <a href="#close" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>



<div id="user-guide" class="modal">
	<div class="modal-content">
	  <h4>Documents</h4>
	  {% if(page.user_guide) %}
	  <p><a target="_blank" rel="nofollow" class="waves-effect waves-light btn" href="{{ page.user_guide }}"><i class="material-icons left">play_arrow</i>User Guide</a></p>
	  {% endif %}
	  {% if(page.installation_guide) %}
	  <p><a target="_blank" rel="nofollow" class="waves-effect waves-light btn" href="{{ page.installation_guide }}"><i class="material-icons left">play_arrow</i>Installation Guide</a></p>
	  {% endif %}

	 
	</div>
	<div class="modal-footer">
	  <a href="#close" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

