<nav class="light lighten-1" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="{{ site.url }}" class="brand-logo">
    <img src="{{ site.url }}/skin/frontend/mageplaza/default/img/logo-white.png"  alt="mageplaza logo">
    </a>


      <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="right hide-on-med-and-down">

        <li itemprop="name"><a itemprop="url" href="{{ site.url }}/magento-2-one-step-checkout-extension/">One Step Checkout</a></li>
        <li itemprop="name"><a itemprop="url" href="{{ site.url }}/magento-2-layered-navigation-extension/">Layered Navigation</a></li>
        <!-- <li itemprop="name"><a itemprop="url" href="{{ site.url }}/magento-2-shop-by-brand/">Brands</a></li> -->
        <li itemprop="name"><a itemprop="url" href="{{ site.url }}/magento-2-seo-extension/">SEO</a></li>

        <li class="sub-menu">
          <a class="dropdown-button" href="#magento-2">Magento® 2<i class="material-icons right">arrow_drop_down</i></a>
          <ul id="menu-magento-2" class="dropdown-content megamenu-content megamenu-content-small container">
            <div class="row" style="margin: 0 auto;">
              <div class="col s12 m6">
                <div class="list-title">
                  <h4 itemprop="name" class="brand-color"><a itemprop="url" href="{{ site.url }}/magento-2-extensions/">Magento® 2</a></h4>
                </div>
                <div class="divider"></div>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-one-step-checkout-extension/">One Step Checkout</a> <span class="hot badge red" data-badge-caption="Hot"></span></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-layered-navigation-extension/">Layered Navigation</a> <span class="hot badge red" data-badge-caption="Hot"></span></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-shop-by-brand/">Shop By Brand</a> <span class="featured badge green" data-badge-caption="New"></span></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-affiliate-extension/">Affiliate</a> </li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-who-bought-this-also-bought/">Who Bought This Also Bought</a> <span class="new badge blue" data-badge-caption="New"></span></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-frequently-bought-together/">Frequently Bought Together</a> <span class="new badge blue" data-badge-caption="New"></span></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-automatic-related-products/">Automatic Related Products</a> <span class="new badge blue" data-badge-caption="New"></span></li>
              </div>

              <div class="col s12 m6">
                <div class="list-title">
                  <h4 itemprop="name" class="brand-color"><a itemprop="url" href="{{ site.url }}/magento-2-free-extensions/">Free Stuff</a></h4>
                </div>
                <div class="divider"></div>
                <li itemprop="name"><a itemprop="url" class="magento-menu-link" href="{{ site.url }}/magento-2-social-login-extension/">Social Login</a> <span class="hot badge red" data-badge-caption="Hot"></span></li>
                <li itemprop="name"><a itemprop="url" class="magento-menu-link" href="{{ site.url }}/magento-2-blog-extension/">Blog</a> <span class="hot badge red" data-badge-caption="Hot"></span></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-seo-extension/">SEO</a> <span class="featured badge green" data-badge-caption="New"></span></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-product-slider-extension/">Product Slider</a></li>
                <li><a class="magento-menu-link" href="https://www.mageplaza.com/magento-2-smtp/">SMTP</a>  <span class="new badge blue" data-badge-caption="New"></span></li>
              </div>
<!-- 
              <div class="col s12 m4">
                <div class="list-title">
                  <h4 class="brand-color">Services</h4>
                </div>
                <div class="divider"></div>

                <li><a class="magento-menu-link" href="#">Extension Customization</a></li>
                <li><a class="magento-menu-link" href="#">Installation Service</a></li>
                <li><a class="magento-menu-link" href="#">Magento Performance Optimization</a></li>
                <li><a class="magento-menu-link" href="#">Custom Development</a></li>
                <li><a class="magento-menu-link" href="#">Extension Configuration Service</a></li>
              </div>
 -->

            </div>
            <!-- End -->
          </ul>
        </li>

        <li class="sub-menu">
          <a class="dropdown-button" href="#magento-2">Resources<i class="material-icons right">arrow_drop_down</i></a>
          <ul id="menu-magento-resouces" class="dropdown-content megamenu-content megamenu-content-small container">
            <div class="row" style="margin: 0 auto;">
              <div class="col s12 m6">
                <div class="list-title">
                  <h4 class="brand-color">Help</h4>
                </div>
                <div class="divider"></div>
                  <li><a class="magento-menu-link" rel="nofollow" href="https://docs.mageplaza.com/">User Guide</a></li>
                  <li><a class="magento-menu-link" href="{{ site.url }}/install-magento-2-extension/">Installation Guide</a></li>
                  <li><a class="magento-menu-link" href="{{ site.url }}/faqs/">FAQs</a></li>
                  <li><a class="magento-menu-link" rel="nofollow" href="https://mageplaza.freshdesk.com/">Help Desk</a></li>
                  <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-installation-services/">Installation Services</a></li>
                  <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-extension-support-package/">Support Package</a></li>

              </div>
              <div class="col s12 m6">
                <div class="list-title">
                  <h4 class="brand-color">Quick links</h4>
                </div>
                <div class="divider"></div>
                <li><a class="magento-menu-link" href="{{ site.url }}/magento-2-module-development/">Magento 2 Module Development</a></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/kb/magento-2-tutorial/">Magento 2 Tutorials</a></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/download-magento/">Download Magento 2</a></li>
                <li><a class="magento-menu-link" href="{{ site.url }}/kb/magento-2-demo.html">Magento 2 Demo</a></li>

               
              </div>

              

            </div>
          </ul>
        </li>

        
        <li><a target="_blank" href="https://store.mageplaza.com/"><i class="fa fa-user"></i></a></li>
        <li >
          <input id="search" type="text" name="q" placeholder="Search ..." />
        </li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ site.url }}/magento-2-extensions/">Magento 2</a></li>
        <li><a href="{{ site.url }}/magento-2-one-step-checkout-extension/">One Step Checkout</a></li>
        <li><a href="{{ site.url }}/magento-2-layered-navigation-extension/">Layered Navigation</a></li>
        <li><a href="{{ site.url }}/magento-2-seo-extension/">SEO</a></li>
        <li><a href="{{ site.url }}/magento-2-affiliate-extension/">Affiliate</a></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


<!-- resources menu -->
<!-- <ul id="menu-resources" class="dropdown-content megamenu-content">
  <li><a href="{{ site.url }}/kb/magento-2-tutorial/">Magento 2 Tutorials</a></li>
  <li><a href="{{ site.url }}/magento-2-module-development/">Magento 2 Developer Guide</a></li>
  <li class="divider"></li>
  <li><a href="https://docs.mageplaza.com/">User Guide</a></li>
  <li><a href="https://mageplaza.freshdesk.com/">Support Center</a></li>
  <li><a href="{{ site.url }}/download-magento/">Download Magento 2</a></li>

</ul> -->

<!-- Magento 2 Menu -->
<!-- <ul id="menu-magento-2" class="dropdown-content megamenu-content">
  <li><a href="{{ site.url }}/magento-2-extensions/">Magento 2</a></li>
  <li class="divider"></li> -->
  <!-- <li><a href="{{ site.url }}/magento-2-free-extensions/">Free Stuff</a></li> -->
<!--   <li><a href="{{ site.url }}/magento-2-one-step-checkout-extension/">1-Step Checkout</a></li>
  <li><a href="{{ site.url }}/magento-2-layered-navigation-extension/">Layered Navigation</a></li>
  <li><a href="{{ site.url }}/magento-2-affiliate-extension/">Affiliate</a></li>
  <li><a href="{{ site.url }}/magento-2-faq/">FAQ</a></li>
  <li><a href="{{ site.url }}/magento-2-blog-extension/">Blog</a></li>
  <li><a href="{{ site.url }}/magento-2-seo-extension/">SEO</a></li>
  <li><a href="{{ site.url }}/magento-2-social-login-extension/">Social Login</a></li>
  <li><a href="{{ site.url }}/magento-2-search-extension/">Better Search</a></li>
  <li><a href="{{ site.url }}/magento-2-store-locator-extension/">Store Locator</a></li>
  <li><a href="{{ site.url }}/magento-2-banner-slider-extension/">Banner Slider</a></li>
  <li><a href="{{ site.url }}/magento-2-mega-menu-extension/">Mega Menu</a></li>
  <li><a href="{{ site.url }}/magento-2-shop-by-brand/">Shop By Brand</a></li>
</ul>
 -->




<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ site.url }}",
      "logo": "{{ site.url }}/assets/img/logo.jpg"
    }
</script>

<script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "{{ site.url }}",
      "contactPoint" : [{
        "@type" : "ContactPoint",
        "telephone" : "{{ site.phone }}",
        "contactType" : "Customer service"
      }]
    }
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "{{ site.name }}",
  "url" : "{{ site.url }}",
  "sameAs" : [
    "https://www.facebook.com/mageplaza/",
    "https://twitter.com/mageplaza",
    "https://plus.google.com/+Mageplaza/about"
    
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ site.url }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.url }}/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

{% if(page.enable_map_on_serp) %}
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : "{{ page.product-name }}",
    "alternateName" : "{{ page.h1-title }}",
    "url" : "{{ site.url }}{{ page.url }}"
  }
  </script>

{% else %}

  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : "Mageplaza",
    "alternateName" : "{{ site.name }}",
    "url" : "{{ site.url }}"
  }
  </script>

{% endif %}


{% if(page.has_fixed_nav) %}
{% include fixed_nav.html %}
{% endif %}
