<div class="row mageplaza-policy" >
  <div class="col s12 m4">
    <div class="center">
      <i class="small material-icons">replay_30</i>
      <p class="light center">30-day Money Back</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center">
      <i class="small material-icons">system_update_alt</i>
      <p class="light center">Lifetime Update</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center">
      <i class="small material-icons">thumb_up</i>
      <p class="light center">1-Year Support</p>
    </div>
  </div>


</div>