<!-- <div class="promo-bar">
  <div class="promo-bar-content">
		Who Bought This Also Bought released - SALE 30% (Before 15th August) <a class="promo-bar-btn" href="https://www.mageplaza.com/magento-2-who-bought-this-also-bought/?utm_source=promobar&utm_medium=text&utm_campaign=wbtab-released"><span>Explore</span></a>  -->

	<!-- 	Flash Sales - 20% Off: <a class="promo-bar-link" href="https://www.mageplaza.com/magento-2-one-step-checkout-extension/?utm_source=promobar&utm_medium=text&utm_campaign=seo">OSC</a>, <a class="promo-bar-link" href="https://www.mageplaza.com/magento-2-layered-navigation-extension/?utm_source=promobar&utm_medium=text&utm_campaign=seo">Layered Navigation</a>, <a class="promo-bar-link" href="https://www.mageplaza.com/magento-2-seo-extension/?utm_source=promobar&utm_medium=text&utm_campaign=seo">SEO</a> - Coupon: <b>FS20</b> --> 
		
<!--   </div>
</div>
 -->