<div class="row">
	<div class="card">
		<div class="card-content">
				<h3 class="header">Release notes</h3>
				<div id="release-notes">
				 {% assign releases = (site.data.releases[page.sku]) %}
			    {% for release in releases %}
			    	<ul class="collection with-header">
			            <li class="collection-header"><h4>{{ release.version }}</h4> <span class="ultra-small">{{ release.datetime }}</span></li>
			            <li class="collection-item">
			                {{ release.description }}
			            </li>
			        </ul>
				{% endfor %}
			</div>

		</div>
		
	</div>

</div>