<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
{% include _after_body.html %}

<!-- Navigation -->
{% include nav.html %}

<!-- Page breadcrumb -->
<nav>
<div class="nav-wrapper container" id="breadcrumb-wrapper">
  <div class="col s12 m12 l12">
    <a href="{{ site.url }}" class="breadcrumb">Home</a>
    <a class="breadcrumb">{{ page.title }}</a>
  </div>
</div>
</nav>

<!-- <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ site.url }}",
      "name": "Home"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ site.url }}/{{ page.url }}",
      "name": "{{ page.title }}"
    }
  }]
}
</script>
 -->

<!-- Page Content -->
  <div class="container">
    <div class="section">

    	<div class="row" id="page-content">
	        <div class="col s12">
	        <h1 class="header">{{ page.title }}</h1>

			{{ content }}


	        </div>
	      </div>
		
	    {% if(page.enable_comment) %}
			<div class="row" id="comment-section">
				<h3 class="header">Comments</h3>
				<div class="col s12 m12">
					<div class="card">
					<!-- <span class="card-title">Comments</span> -->
					<div class="card-content">
						{% include disqus.html %}
					</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>



<!-- Footer -->
{% include footer.html %}

{% include _before_body_end.html %}

</body>

</html>